:root {
    --card-height:385px;
    --card-width:calc(var(--card-height)/1.5);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #191d31;
}

.card{
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    perspective: 2500px;
    margin: 0 20px;
}

.cover-image {
    width: 115%;
    height: 115%;
    object-fit: cover;
}

.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 115%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(15%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: '';
    opacity: 0;
    width: 115%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    
}

.wrapper::before{
    top: 0;
    height: 115%;
    background-image: linear-gradient(
    to top,
    transparent 50%,
    rgba(15, 16, 24, 0.5) 68%,
    rgba(12, 13, 19) 97%
    );
}

.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(15, 16, 24, 0.5) 68%,
    rgba(12, 13, 19) 97%
);
}

.card:hover .wrapper::before,
.wrapper::after{
    opacity: 1;
}

.card:hover .wrapper::after{
    height: 80px;
}

.character{
    width: 90%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character{
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.boxing{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

.logo{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}